.books-container {
    max-width: 300px;
    margin: 0 auto;    
    margin-top: 20px; 
}

.book-content {
    margin-bottom: 30px;
    padding: 20px 15px 20px 15px;
    letter-spacing: .01em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.book-title {
    font-weight: 500;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .book-title {
        font-size: 18px;
    }
}

.book-image {
    margin-left: auto;
  margin-right: auto;
  display: block;
}

.book-creator-info {
    margin-left: 58px;
    margin-bottom: 10px;
    height: 58px;
}

.book-creator-info .creator-link {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.book-creator-info .creator-link:hover .book-creator-name {
    color: #1890ff;
    text-decoration: underline;
}

.book-creator-avatar {
    float: left;
    margin-top: 3px;
    margin-left: -58px;
    position: absolute;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 24px;    
}

.book-creator-avatar > * {
    line-height: 48px;
    font-size: 18px;
}

.book-creator-name {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 4px;
    display: inline-block;    
    margin-right: 8px;
}

.book-creator-username {
    color: #657786;
    font-size: 15px;
    display: block;  
}

.book-creation-date {
    display: block; 
    color: #657786;
    font-size: 13px;
    margin-top: 2px;
}   